# Ignore model and simulation outputs
*.n5
*.h5
*.prof
*.zarr

# Ignore logs
*.log
logs/


# Ignore Jupyter/IPython artifacts
.ipynb_checkpoints/


# Ignore Python cache
__pycache__/
*.py[cod]
*.so

# Ignore virtual environments
env/
.venv/
venv/

# Ignore build artifacts
build/
dist/
*.egg-info/
